:root {
  --footer-height: 2.5rem;
  --header-height: 100px;
}

html {
  background: var(--dark-color-0);
  color: var(--light-color-0);
}

body {
  /* for footer */
  position: relative;
  min-height: 100vh;
}

header {
  display: flex;
  padding-bottom: 1rem;
  color: var(--off-color);
}

header hr {
  color: var(--off-color);
}

header a {
  color: var(--off-color);
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header > a > img {
  width:  var(--header-height);
  height: var(--header-height);
}

#header-text {
  height: var(--header-height);
  margin-left: 10px;
  width: 100%;
  text-align: center;
}

#header-text h1, #header-text h2 {
  margin: auto;
}

#page {
  padding-bottom: var(--footer-height); /* get space for footer */
}

table {
  border-collapse: collapse;

  padding: 5px;
  border: solid 3px var(--dark-color-2);
}

table td, table th {
  border-right: solid 3px var(--dark-color-2);
  padding: 4px;
}

table thead {
  font-weight: bold;
  background-color: var(--dark-color-2);
}

table tr:nth-child(even) {
  background-color: var(--dark-color-1);
}

table tr:hover {
  background-color: var(--dark-color-2);
}

table#repo-list {
  width: 100%;
}

table#repo-list thead {
  text-align: left;
}

main a, footer a {
  color: var(--light-color-0);
  text-decoration: none;
}

main a:hover, footer a:hover {
  color: var(--off-color);
  text-decoration: underline;
}

ul#repo-menu {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul#repo-menu + hr {
  margin: 0px;
  color: var(--dark-color-1);
  border-top: 3px solid;
}

ul#repo-menu li {
  padding:  5px;
  padding-left:  15px;
  padding-right: 15px;
}

ul#repo-menu li#current-page {
  background-color: var(--dark-color-1);
}

ul#repo-menu li:hover {
  background-color: var(--dark-color-2);
}

pre#readme {
  background-color: var(--dark-color-1);
  white-space: pre-wrap;

  padding: 10px;
  margin: 0px;
}

div#about-content {
  display: flex;
  flex-wrap: wrap;
}

p#about-desc {
  margin-left: 2%;
}

table#clone {
  min-width: 25%;
}

pre#readme {
  min-width: 50%;
}

div#about-content div#nothing {
  min-width: 25%;
}

table#clone, pre#readme, div#about-content div#nothing {
  margin-left:  1%;
  margin-right: 1%;
}

table#clone {
  height: 100px;
}

table#clone tbody th {
  text-align: left;
}

table#file-tree {
  width: 600px;

  margin-left: auto;
  margin-right: auto;

  flex-wrap: nowrap;
}

table#file-tree td {
  padding: 7px;
}

table#summary-branch, table#summary-tag, table#log {
  width: 100%;
}

table#summary-branch th, table#summary-tag th {
  width: 10%;
}

table#summary-branch td, table#summary-tag td, table#log td {
  width: 100%;
}

table#log th {
  text-align: left;
  min-width: 69px;
}

span.branch {
  border: solid 1px var(--off-color);
  padding: 1px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: var(--footer-height);

  text-align: center;
  font-size: 0.75em;
}
