:root {
  --footer-height: 2.5rem;
  --header-height: 100px;
}

html {
  background: var(--dark-color-0);
  color: var(--light-color-0);
  font-family: "DejaVu Sans Mono";
}

body {
  /* for footer */
  position: relative;
  min-height: 100vh;
}

header {
  display: flex;
  padding-bottom: 1rem;
  color: var(--off-color);
}

header hr {
  color: var(--off-color);
}

header a {
  color: var(--off-color);
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header > a > img {
  width:  var(--header-height);
  height: var(--header-height);
}

#header-text {
  height: var(--header-height);
  margin-left: 10px;
  width: 100%;
  text-align: center;
}

#header-text h1, #header-text h2 {
  margin: auto;
}

#page {
  padding-bottom: var(--footer-height); /* get space for footer */
}

table {
  border-collapse: collapse;

  padding: 5px;
  border: solid 3px var(--dark-color-2);
}

table td, table th {
  border-right: solid 3px var(--dark-color-2);
  padding: 4px;
}

table thead {
  font-weight: bold;
  background-color: var(--dark-color-2);
  color: var(--off-color);
}

table tr:nth-child(even) {
  background-color: var(--dark-color-1);
}

table tr:hover {
  background-color: var(--dark-color-2);
}

table#repo-list {
  width: 100%;
}

table#repo-list thead {
  text-align: left;
}

main a, footer a {
  color: var(--light-color-0);
  text-decoration: none;
}

main a:hover, footer a:hover {
  color: var(--off-color);
  text-decoration: underline;
}

ul#repo-menu {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul#repo-menu + hr {
  margin: 0px;
  color: var(--dark-color-1);
  border-top: 3px solid;
}

ul#repo-menu li {
  padding:  5px;
  padding-left:  15px;
  padding-right: 15px;
}

ul#repo-menu li#current-page {
  background-color: var(--dark-color-1);
}

ul#repo-menu li:hover {
  background-color: var(--dark-color-2);
}

pre#readme {
  background-color: var(--dark-color-1);
  white-space: pre-wrap;

  padding: 10px;
  margin: 0px;

  height: fit-content;
  min-width: 480px;
  max-width: 960px;

  font-size: 1rem;
}

div#about-content {
  display: flex;
  flex-wrap: wrap;
}

div#about-side {
  max-width: 480px;
}

div#about-side, pre#readme {
  margin: 10px;
  flex: 1;
}

table#clone {
  height: 100px;
  float: left;
  margin-bottom: 1rem;
}

table#clone tbody th {
  text-align: left;
}

table#file-tree {
  min-width: 69%;

  margin-left:  16%;
  margin-right: 15%;
}

table#file-tree td {
  padding: 7px;
}

table#summary-branch, table#summary-tag, table#log, table#packages {
  width: 100%;
}

table#summary-branch th, table#summary-tag th, table#packages th {
  width: 10%;
}
 
table#summary-branch td, table#summary-tag td, table#packages td {
  width: 100%;
}

table#log tbody tr td:first-of-type {
  width: 69%;
}

table#log tbody tr td:last-of-type {
  min-width: 100px;
}

table#log th {
  text-align: left;
  min-width: 69px;
}

span.branch {
  border: solid 1px var(--off-color);
  padding: 1px;
}

table.total tbody tr:last-child {
  background-color: var(--dark-color-2);
}

table.total tbody tr:last-child th {
  color: var(--off-color);
}

div#stat-content {
  display: flex;
  flex-wrap: wrap;
}

table#author-stat, table#month-stat {
  width: 40%;

  margin-left: 5%;
  margin-right: 5%;

  margin-bottom: 1.5rem;

  height: 0px;
}


div#wiki-content {
  display: flex;
  flex-wrap: wrap;
}

div#wiki-side {
  max-width: 300px;
  height: 0%;

  background-color: var(--dark-color-1);
}

pre#wiki-text {
  min-width: 480px;
  max-width: 960px;

  font-size: 1rem;
  white-space: pre-wrap;
}

div#wiki-side, pre#wiki-text {
  margin-top: 10px;
  margin-left: 5%;
  flex: 1;
}

span.diff-min {
  color: #e33;
}

span.diff-add {
  color: #7f7;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: var(--footer-height);

  text-align: center;
  font-size: 0.75em;
}
